# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Outputs
outputs/checkpoints/
outputs/logs/
outputs/plots/

# Dataset
datasets/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db