# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# VS Code
.vscode/

# PyTorch
*.pth

# Training outputs
outputs/

# Dataset
datasets/WBCAtt/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log